<div>
  <input type="text" #messageText/>
  <app-demo-component [message]="message" *ngIf="!toDestroy">
    <p #temp>This is Prjoected Content From Parent Class. User Entered ::  {{message}}</p>
  </app-demo-component>
  <button (click)="onBtnClick(messageText)">Send Message</button>
  <!-- <app-demo-component [mesasge]="'Message from App Component'"></app-demo-component>
  <app-demo-component [mesasge]="'Message from App Component'"></app-demo-component> -->
  <br/><br/>
  <button (click)="destroyComponent()">Show/Hide</button>
</div>